/* CSS LISTA */

aside{
	margin-left: 15%;
	border: 1px black dotted;
	width: 15%;
	height: 100px;
	float: left;
}
section{
	width: 55%;
	height: auto;
	float: left;
}

.item {
	background-color: #F5F5F5;
	margin: 2% 0% 0% 2%;
	width: 30%;
	height: 370px;
	float: left;

}

.item img {
	margin: 3% 0% 0% 3%;
	width: 90%;
	height: 55%;
}
.item iframe{
	margin-top: 2%;
}

.item .nome{
 margin: 15% 0% 0% 15%;
 font-size: 20px;

}

.item .preco{
	margin: 5% 0% 0% 35%;
	font-size: 25px;
	color: blue;
	
}
.item .de{
	margin: 1% 0% 0% 5%;
	font-size: 16px;
	color: black;
	float: left;
}
.item .precode{
	font-size: 18px;
	color: blue;
	clear: left;
	
}
.item .para{
	margin: 5% 0% 0% 15%;
	font-size: 25px;
	color: black;
	float: left;
	
}
.item .precopara{
	font-size: 28px;
	color: blue;
	clear: left;
	
}
